body {
  margin: 0 auto;
}

/* Background */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/treebg1.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Sections */

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-light {
  background-image: url('/src/assets/treebg4.jpeg');
  background-size: cover;
  background-position: center;
}

.section-dark {
  /* here so there is something here */
  align-items: center;
}

/* Info sections */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  margin-left: 1em;
  margin-right: 1em;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 8em;
  margin: 0;
  line-height: 0.9;
  text-align: center;
  color: #d8d5cd;
}

span {
  display: inline-block;
  width: 0.8em;
  text-align: center;
}

@media (max-width: 768px) {
  .logo h1 {
    font-size: 5em;
  }
}

/* About */

.about-container{
  display: flex;
  flex-direction: row;
}

.about-img {
  height: 100vh;
}

/* Typography */

.section-header {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  
}

.body-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.text-light {
  color: lightgoldenrodyellow
}

.text-mid-dark {
  color: brown;
}

.text-dark {
  color: black;
}

/* todo links */
