body {
  margin: 0 auto;
}

/* Background */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/treebg2.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Sections */

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .about-container {
    flex-wrap: wrap;
    height: 200vh;
    /* justify-content: space-between; */
  }
  .about-img-container {
    width: 100vw;
  }
}

.section-light {
  background-image: url('/src/assets/treebg5.jpeg');
  background-size: cover;
  background-position: center;
}

.section-dark {
  /* here so there is something here */
  align-items: center;
}

.margin-top-20vh {
  margin-top: 20vh;
}

/* Info sections */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  margin-left: 1em;
  margin-right: 1em;
}

.about-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 40vw; */
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 8em;
  margin: 0;
  line-height: 0.9;
  text-align: center;
  color: #d8d5cd;
}

span {
  display: inline-block;
  width: 0.8em;
  text-align: center;
}

@media (max-width: 768px) {
  .logo h1 {
    font-size: 5em;
  }
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 4em;
  }
}

/* About */

.about-container{
  display: flex;
  flex-direction: row;
}

.about-img {
  height: 100vh;
}

/* Media */

#media {
  /* scale with contents: */
  height: auto;
}

.video-container {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5vh 0vh;
}

.vertical-video {
  height: 96vh;
  width: 53vh;
  /* top | right | bottom | left */
  margin: 0 5vh 5vh 5vh;
}

.horizontal-video-wrapper {
  display: flex;
  flex-direction: column;
}

.horizontal-video {
  height: 45vh;
  width: 40vw;
  margin-bottom: 5vh;
}

@media (max-width: 568px) {
  .horizontal-video {
    max-height: 50vh;
    width: 90vw;
  }
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 10vh;
}

.image-container img {
  width: 33vw;
}

@media (max-width: 1500px) {
  .image-container {
  grid-template-columns: repeat(2, 1fr);
  }
  .image-container img {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .image-container {
    grid-template-columns:  1fr;
  }
  .image-container img {
    width: 90vw;
  }
}

/* Typography */

.section-header {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  
}

.body-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.text-light {
  color: lightgoldenrodyellow
}

.text-mid-dark {
  color: brown;
}

.text-dark {
  color: black;
}

/* todo links */
